@model EstagioUFMT.Models.Saida
@{
    ViewBag.Title = "Deletar";
}
<h2>Deletar Aluno</h2>
<h3 class="text-danger">Deseja deletar este Aluno ?</h3>
<div class="form-horizontal">

    <div class="form-group">
        @Html.LabelFor(m => m.codCadastro, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.codCadastro,
                                      new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Aluno.Nome, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Aluno.Nome,
                                      new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Aluno.NomeMae, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Aluno.NomeMae,
                                      new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Aluno.dataNasc, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Aluno.dataNasc,
                                      new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Escola.nome, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Escola.nome,
                                      new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Ensino.tipo_de_ensino, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Ensino.tipo_de_ensino,
                          new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.ano, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ano,
                          new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.serie, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.serie,
                          new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Situacao.situacao, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Situacao.situacao,
                          new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.local, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.local,
                          new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.statusAluno, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.statusAluno,
                          new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.anoStatus, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.anoStatus,
                          new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Deletar Aluno" class="btn btn-danger" />
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-warning" })
            </div>
        </div>
    }
</div>